*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
}
/*start Header*/
header{
  background-color: #73DFFA;
  height: 5.5em;
}
header h1{
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
  border-left: 0.1em solid #FFCE00;
  border-right: 0.1em solid #FFCE00;
}
.bloc1, .bloc2, .bloc3 {
  float: left;
}
.bloc1, .bloc3 {
  width: 20%;
}
.bloc2 {
  width: 60%;
}
.bloc3{
  text-align: center;
}
.connecioncentre{
  margin: 0 10% 0 10%;
}
/*End Header*/
/*Start body*/
#nav ul{
  background-color: #63656A;
  display: flex;
  height: 8em;
  line-height: 7em;
  justify-content: center;
  list-style: none;
}
#nav ul li{
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
}
#nav a{
  text-decoration: none;
  color: white;
}
#nav ul li ul{
  display: none;
}
#nav ul li ul li{
  height: auto;
}
#nav ul li:hover ul{
  display: flex;
  flex-direction: column;
}


/*End Body*/
